<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Find your Future!</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link
      rel='stylesheet'
      href='https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0'
    />
    <script src='https://cdn.tailwindcss.com'></script>
  </head>

  <body class='bg-[#F3E9D2]'>
    <div>
      <header class='bg-[#88D498] flex lg:flex-row flex-col justify-between'>
        <h1 class="pl-2">
          <a id='header' href='/homepage'>Future Finder!</a>
        </h1>
        <nav class='px-7 mt-4'>
          <!-- Conditionally render login or logout links -->
          <button><span class='material-symbols-rounded text-white text-4xl'>
              home
            </span></button>
          <button><span class='material-symbols-rounded text-white text-4xl'>
              search
            </span></button>
          <button><span class='material-symbols-rounded text-white text-4xl'>
              tune
            </span></button>
          {{#if logged_in}}
            <a href='/profile'>profile</a>
            <button class='' id='logout'><span
                class='material-symbols-rounded text-white text-4xl'
              >logout</span></button>
          {{else}}
            <a href='/login'><span
                class='material-symbols-rounded text-white text-4xl'
              >
                login
              </span></a>
          {{/if}}
        </nav>
      </header>
      <main class=''>
        <!-- Render the sub layout -->
        {{{body}}}
      </main>
      <footer>

      </footer>
    </div>

    <!-- Render script for logged in users only -->
    {{#if logged_in}}
      <script src='/js/logout.js'></script>
    {{/if}}
  </body>

</html>