<div class='w-full h-auto flex flex-wrap py-10'>
  <div class='border-2 border-black m-auto'>
    <h3
      class='bg-[#88D498] fancy text-center text-4xl p-5 text-[#114b5f]'
    >Create a New Job</h3>
    <div class='p-3.5 bg-[#f5f1e4]'>
      <form id='new-job-form' class='p-2 bg-[#f5f1e4] mx-auto'>
        <div class="flex space-x-4">
    <div class="w-1/2">
        <label for='job-name'>Position:</label>
        <input
          class='form-input rounded-xl px-8'
          type='text'
          id='job-name'
          name='job-name'
        />
        </div>
       
        <div class="w-1/2">
        <label for='job-location'>Location:</label>
        <input
          class='form-input rounded-xl px-8'
          type='text'
          id='job-location'
          name='job-location'
        />
        </div>
    </div>
        <label for='job-desc'>Description:</label>
        <textarea
          class='form-input rounded-xl px-6'
          id='job-desc'
          name='job-desc'
        ></textarea>

        <label for='job-salary'>Salary: $</label>
        <input
          class='form-input rounded-xl px-6'
          type='text'
          id='job-salary'
          name='job-salary'
        />

        <label for='job-benefits'>Benefits:</label>
        <input
          class='form-input rounded-xl px-6'
          type='text'
          id='job-benefits'
          name='job-benefits'
        />

        <button
          type='submit'
          class='btn btn-primary bg-[#88d498]'
        >Create</button>

      </form>
    </div>
</div>

<script src='./js/createjob.js'></script>