<!-- Loop over each object in the projects array -->

<div class='w-full h-auto flex flex-wrap justify-center'>
  {{#each jobs as |job|}}
    <a href="/jobs/{{job.id}}"><div
      class='border-2 border-[#114B5F] rounded-lg p-8 m-4 bg-gradient-to-b from-white to-green-200 to-[#88D498] h-56 w-56 transition ease-in-out hover:scale-110 duration-300'
    >
      <h1 class='text-[#114B5F] font-bold text-xl text-center fancy mb-2'>{{job.name}}</h1>
      <h2 class='text-[#114B5F] font-bold text-md text-center'>{{job.user.company_name}}</h2>
      <h2 class='text-[#114B5F] font-bold text-md text-center mt-2'>{{format_date job.date_created}}</h2>
    </div>
    </a>
  {{/each}}
</div>