<!-- Loop over each object in the projects array -->

<div class='w-full h-auto flex flex-wrap justify-center'>
  {{#each jobs as |job|}}
    <div
      class='border-2 border-black rounded-lg p-8 m-4 bg-[#88D498] h-52 w-52'
    >
      <h1 class='text-[#114B5F] font-bold text-3xl'>{{job.name}}</h1>
      <h2 class='text-[#114B5F] font-bold text-lg'>{{job.user_id}}</h2>
      {{format_date job.date_created}}
    </div>
  {{/each}}
</div>