<div class='w-full h-auto flex flex-wrap py-10 min-[320px]: space-y-3'>
  <div class='border-2 border-black m-auto'>
    <div class='col-md-6'>
      <h2 class='bg-[#88D498] fancy text-center text-4xl p-5 text-[#114b5f]'>Login</h2>
      <div class="p-3.5 bg-[#f5f1e4]">
        <form class='form login-form'>

        <label for='email-login'>Email:</label>
        <input class='form-input rounded-xl' type='text' id='email-login' />

        <label for='password-login'>Password:</label>
        <input
          class='form-input rounded-xl'
          type='password'
          id='password-login'
        />

        <button
          class='btn btn-primary bg-[#88d498]'
          type='submit'
        >Login</button>

      </form>
      </div>
    </div>
  </div>
  <div class='border-2 border-black m-auto'>
    <div class='col-md-6'>
      <h2 class='bg-[#88D498] fancy text-center text-4xl p-5 text-[#114b5f]'>Signup</h2>

      <div class='p-3.5 bg-[#f5f1e4]'>
        <form class='form signup-form'>
          <div class='form-group'>
            <label for='name-signup'>Full Name:</label>
            <input class='form-input rounded-xl' type='text' id='name-signup' />
          </div>
          <div class='form-group'>
            <label for='company-signup'>Company Name (if applicable):</label>
            <input
              class='form-input rounded-xl'
              type='text'
              id='company-signup'
            />
          </div>
          <div class='form-group'>
            <label for='email-signup'>Email:</label>
            <input
              class='form-input rounded-xl'
              type='text'
              id='email-signup'
            />
          </div>
          <div class='form-group'>
            <label for='password-signup'>Password:</label>
            <input
              class='form-input rounded-xl'
              type='password'
              id='password-signup'
            />
          </div>
          <div class='form-group'>
            <button
              class='btn btn-primary bg-[#88d498]'
              type='submit'
            >Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src='./js/login.js'></script>