@font-face {
  font-family: fancy;
  src: url(./Pacifico-Regular.ttf);
}
@font-face {
  font-family: apple;
  src: url(./SourceSansPro-Bold.ttf);
}

#header {
  font-family: fancy;
  font-size: 50px;
  color: #114b5f;
}

.fancy {
  font-family: fancy;
}

.apple {
  font-family: apple;
}