@font-face {
  font-family: fancy;
  src: url(./Pacifico-Regular.ttf);
}
@font-face {
  font-family: apple;
  src: url(./SourceSansPro-Bold.ttf);
}

#header {
  font-family: fancy;
  font-size: 50px;
  color: #114b5f;
}

.fancy {
  font-family: fancy;
}

.apple {
  font-family: apple;
}

.glass {
  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0)
  );
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
